.arial {
  font-family: "arialMT", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: white;
}
.arial-span {
  font-family: "arialMT", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: #a1ff9e;
}
.arial-it {
  font-family: "arialMT", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  font-style: italic;
  font-variant: normal;
  font-weight: 700;
  color: white;
}
.arial-reg {
  font-family: "arialMT", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: white;
}
.pfbeausanspro-reg {
  font-family: "pfbeausanspro-reg", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: white;
}
header {
  height: 74px;
  background: url("../img/header.png");
  background-size: cover;
  line-height: 74px;
}
header .header-wrapper {
  width: 960px;
  margin: 0 auto;
}
header .header-wrapper .logo {
  float: left;
  margin: 10px;
}
header .header-wrapper .support {
  float: right;
  margin: 5px;
  background: url("../img/call-button.png");
  border: none;
  font-family: "arialMT", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: white;
  font-size: 14px;
  background-size: cover;
  padding: 5px;
  width: 103px;
  height: 60px;
}
header .header-wrapper .support img {
  float: left;
}
header .header-wrapper .support:focus {
  outline: 0;
}
header .header-wrapper .support:hover {
  font-size: 15px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}
header .header-wrapper .support:active {
  font-size: 15px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(2px);
}
header .header-wrapper nav {
  float: right;
}
header .header-wrapper nav ul li {
  height: 74px;
  display: inline-block;
  border-right: 1px solid #373737;
  box-shadow: 1px 0px 0 0 #282828;
}
header .header-wrapper nav ul li a {
  margin: 10px;
  text-decoration: none;
  position: relative;
  font-family: "arialMT", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: white;
}
header .header-wrapper nav ul li a span {
  font-family: "arialMT", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: #a1ff9e;
  position: absolute;
  top: -50px;
  right: 0;
}
header .header-wrapper nav ul li a:hover {
  color: #09c168;
}
header hr {
  border: none;
  background-color: #09c168;
  color: #07904e;
  height: 2px;
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
}
main {
  min-height: 833px;
  min-width: 100%;
  background: url("../img/slider-0.png");
  background-size: cover;
}
main .main-wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
main .main-wrapper .login-wrap {
  position: relative;
  width: 300px;
  padding: 5px;
}
main .main-wrapper .login-wrap h2 {
  font-family: "arialMT", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  font-style: italic;
  font-variant: normal;
  font-weight: 700;
  color: white;
  margin: 25px 0 0 25px;
}
main .main-wrapper .login-wrap .form {
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.5);
  height: 235px;
  border-radius: 5px;
  padding: 5px;
}
main .main-wrapper .login-wrap .form input,
main .main-wrapper .login-wrap .form button {
  margin-left: 5%;
  width: 87%;
  height: 40px;
  border-radius: 5px;
  outline: 0;
  -moz-outline-style: none;
}
main .main-wrapper .login-wrap .form input {
  margin-top: 15px;
  border: 1px solid #bbb;
  padding: 0 0 0 10px;
  font-size: 14px;
  color: #c4c4c4;
  text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0 0 5px 5px #E6E6E6;
  -webkit-box-shadow: inset 0 0 5px 5px #E6E6E6;
  box-shadow: inset 0 0 5px 5px #E6E6E6;
  clear: right;
}
main .main-wrapper .login-wrap .form input:focus {
  border: 1px solid #07904e;
}
main .main-wrapper .login-wrap .form a {
  font-family: "arialMT", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
main .main-wrapper .login-wrap .form a p {
  margin: 3% 5%;
}
main .main-wrapper .login-wrap .form button {
  margin-right: 3%;
  border: none;
  font-family: "arialMT", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
main .main-wrapper .login-wrap .form button:hover {
  box-shadow: 1px 1px 5px #000;
}
main .main-wrapper .login-wrap .form button:active {
  box-shadow: 1px 1px 7px #000;
}
main .main-wrapper .login-wrap .form .btn_red {
  width: 120px;
  float: right;
  background: #e74c3c;
  background: -moz-linear-gradient(top, red 0%, #bc2a2a 100%);
  background: -webkit-linear-gradient(top, red 0%, #bc2a2a 100%);
  background: -o-linear-gradient(top, red 0%, #bc2a2a 100%);
  background: -ms-linear-gradient(top, red 0%, #bc2a2a 100%);
  background: linear-gradient(top, red 0%, #bc2a2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee79a', endColorstr='#fec151', GradientType=0);
}
main .main-wrapper .login-wrap .form .btn_red:hover {
  background: -moz-linear-gradient(top, #bc2a2a 0%, red 100%);
  background: -webkit-linear-gradient(top, #bc2a2a 0%, red 100%);
  background: -o-linear-gradient(top, #bc2a2a 0%, red 100%);
  background: -ms-linear-gradient(top, #bc2a2a 0%, red 100%);
  background: linear-gradient(top, #bc2a2a 0%, red 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee79a', endColorstr='#fec151', GradientType=0);
}
main .main-wrapper .login-wrap .form_register {
  margin-top: 10px;
  height: 90px;
}
main .main-wrapper .login-wrap .form_register p {
  font-family: "arialMT", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: white;
  font-style: italic;
  text-align: center;
  margin: 3%;
}
main .main-wrapper .login-wrap .form_register .btn_register {
  background: #07904e;
  background: -moz-linear-gradient(top, #09c168 0%, #07904e 100%);
  background: -webkit-linear-gradient(top, #09c168 0%, #07904e 100%);
  background: -o-linear-gradient(top, #09c168 0%, #07904e 100%);
  background: -ms-linear-gradient(top, #09c168 0%, #07904e 100%);
  background: linear-gradient(top, #09c168 0%, #07904e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1ff9e', endColorstr='#07904e', GradientType=0);
}
main .main-wrapper .login-wrap .form_register .btn_register:hover {
  background: -moz-linear-gradient(top, #07904e 0%, #09c168 100%);
  background: -webkit-linear-gradient(top, #07904e 0%, #09c168 100%);
  background: -o-linear-gradient(top, #07904e 0%, #09c168 100%);
  background: -ms-linear-gradient(top, #07904e 0%, #09c168 100%);
  background: linear-gradient(top, #07904e 0%, #09c168 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#07904e', endColorstr='#a1ff9e', GradientType=0);
}
main .main-wrapper h1 {
  position: absolute;
  top: 20px;
  left: 320px;
  font-family: "pfbeausanspro-reg", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: white;
}
main .main-wrapper h1 span {
  font-weight: 900;
}
main .main-wrapper .register-pane {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .main-wrapper .register-pane .register-pane__box {
  height: 318px;
  width: 232px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.7);
}
main .main-wrapper .register-pane .register-pane__box .box-name {
  position: relative;
  height: 42px;
  width: 100%;
}
main .main-wrapper .register-pane .register-pane__box .box-name h2 {
  margin: 10px;
  font-family: "arialMT", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: white;
  font-size: 22px;
}
main .main-wrapper .register-pane .register-pane__box .box-name img {
  position: absolute;
  right: 0;
  top: -10px;
}
main .main-wrapper .register-pane .register-pane__box .box-bonus {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
main .main-wrapper .register-pane .register-pane__box .box-bonus span {
  font-family: "arialMT", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: white;
  font-size: 40px;
  font-weight: 700;
  color: #2c2c2c;
}
main .main-wrapper .register-pane .register-pane__box .box-bonus p {
  font-family: "arialMT", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: white;
  text-align: center;
  color: #2c2c2c;
}
main .main-wrapper .register-pane .register-pane__box .box-bonus p span {
  font-weight: 700;
}
main .main-wrapper .register-pane .register-pane__box p {
  font-family: "arialMT", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: white;
  color: #2c2c2c;
  text-align: center;
  margin-bottom: 5px;
}
main .main-wrapper .register-pane .register-pane__box button {
  margin-left: 5%;
  width: 87%;
  height: 35px;
  border-radius: 5px;
  outline: 0;
  -moz-outline-style: none;
  margin-right: 3%;
  border: none;
  font-family: "arialMT", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
main .main-wrapper .register-pane .register-pane__box button:hover {
  box-shadow: 1px 1px 5px #000;
  background: #000;
}
main .main-wrapper .register-pane .register-pane__box button:active {
  box-shadow: 1px 1px 7px #000;
}
main .main-wrapper .register-pane .box_bet .box-name,
main .main-wrapper .register-pane .box_bet button {
  background-color: #ab6126;
}
main .main-wrapper .register-pane .box_live-bet .box-name,
main .main-wrapper .register-pane .box_live-bet button {
  background-color: #4370fe;
}
main .main-wrapper .register-pane .box_casino .box-name,
main .main-wrapper .register-pane .box_casino button {
  background-color: #91ab2e;
}
main .main-wrapper .register-pane .box_poker .box-name,
main .main-wrapper .register-pane .box_poker button {
  background-color: #e04124;
}
footer .logo-pane-wrap {
  padding-top: 15px;
  width: 100%;
  height: 60px;
  background: #282828;
}
footer .logo-pane-wrap .logo-pane {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer nav {
  width: 100%;
  background: #2c2c2c;
  height: 180px;
}
footer nav .footer-nav-wrap {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
footer nav .footer-nav-wrap .footer-nav-col h2 {
  margin-top: 20px;
  font-family: "arialMT", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: white;
  color: #7c7c7c;
  font-size: 16px;
}
footer nav .footer-nav-wrap .footer-nav-col hr {
  border: none;
  background-color: #7c7c7c;
  color: #7c7c7c;
  opacity: 0.2;
  height: 1px;
}
footer nav .footer-nav-wrap .footer-nav-col li {
  text-align: center;
  margin-bottom: 10px;
}
footer nav .footer-nav-wrap .footer-nav-col li a {
  text-decoration: none;
  font-family: "arialMT", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: white;
  color: #7c7c7c;
}
footer p {
  background: #2c2c2c;
  text-align: center;
  font-family: "arialMT", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: white;
  font-size: 10px;
  color: #7c7c7c;
  padding-bottom: 5px;
}
